:root{
    --primary: #0066ff;
}

.btn{
    display: flex;
    align-items: center;
    padding: 8px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
    background-color: var(--primary);
}

.btn:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    border: 2px solid var(--primary);
    outline: none;
}

.btn img {
    width: 20px;
    height: 25px;
}

.border {
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .btn {
        display: none;
    }
}