.header {
    width: 100%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-content: center;
    justify-content: flex-start;
    margin-left: 10%;
}

.headerLogo {
    color: #000000;
    font-size: 6rem;
}

.headerInfoLogo {
    padding-top: 8%;
    position: absolute;
    padding-left: 20%;
    font-size: 1.4rem;
}

.headerInfoLogoT {
    border-width: 5px 5px;
    border-style: solid dashed solid dashed;
    border-color: #f0edf1 #000000 ;
    width: 24%;
    color: rgb(255, 255, 255);
    font-size: 100%;
}

.btnBlock {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.btnHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: #1888ff;
    color: white;
    font-size: 1rem;
}

.btnHeader:hover {
    background-color: rgba(37,16,23,0.84);
    color: black;
    padding: 20px 18px;
    transition: all 0.3s ease-out;
    border-radius: 10px;
    border: 2px solid var(--primary);
    outline: none;
}